@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Inter:wght@400;700&family=Outfit:wght@400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background: black;
  color: white;
  text-align: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
card {
  border: 1px solid orangered;
  padding: 10px;
}
